@import './variables.scss';

@import 'bootstrap/scss/bootstrap.scss';

@import 'responsive';
@import 'global';
@import 'layout';
@import 'base';
@import 'auth';
@import 'dashboard';
@import 'calendar';
@import 'tasks';
@import 'follow-up';
@import 'contact';